rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /information/{id} {
      allow read, write: if request.auth.token.admin == true;
    }

    match /articles/{id} {
      allow read, write: if request.auth.token.admin == true;
    }

    match /public_artists/{id} {
      //allow read, write: if false
      allow read, write: if request.time < timestamp.date(2020, 5, 2);
    }
  }
}
